$primary-color: #e78282;
$secondary-color: #fbd784;

$third-font: "Inter", cursive;
$primary-fonts: "Inter", sans-serif;
$secondary-fonts: "Inter", sans-serif;

$header-font-size: 88px;
$normal-font-size: 18px;

$wrapper: 100%;
$container: 1200px;
