.hero#hero
	.hero__bg
	.hero__heading.heading#hero__heading
		.heading__subtitle A Hiking guide
		h2.heading__title Be prepared for the Mountains and beyond!
		.heading__guide
			.heading__guide--text scroll down
			i.heading__guide--icon.fa-solid.fa-arrow-down
	.hero__mountain
	.hero__foreground