.slider
  .slide
    img.slide__img(src="./images/slider/slide-1.jpg") 
    .slide__content
      h1.slide__content-title Краски
      p.slide__content-text
        | Идеально подходят для стен и других поверхностей.
        br
        | Найди свой идеальный цвет!
    button.slide__arrow 
      img(src="./images/arrow-next.svg")
    .slide__dots-wrapp
      .slide__dots
        button.slide__dot.active
        button.slide__dot 
        button.slide__dot 
        button.slide__dot 
