.slider-wrapper
  .slider
    .slide.activeBlock
      img.slide__img(src="./images/slider/slide-1.jpg") 
      .slide__content
        h1.slide__content-title Краски
        p.slide__content-text
          | Идеально подходят для стен и других поверхностей.
          br
          | Найди свой идеальный цвет!
    .slide
      img.slide__img(src="./images/slider/slide-1.jpg") 
      .slide__content
        h1.slide__content-title Краски - это не просто цвет!
        p.slide__content-text
          | Идеально подходят для работ на любых поверхностях.
          br
          | Найди свой идеальный вкус!
    .slide
      img.slide__img(src="./images/slider/slide-1.jpg") 
      .slide__content
        h1.slide__content-title Краски - это настроение!
        p.slide__content-text
          | Идеально подходят для Вас.
          br
          | Найди свой идеальный блик!
    .slide
      img.slide__img(src="./images/slider/slide-1.jpg") 
      .slide__content
        h1.slide__content-title Краски - something went great!
        p.slide__content-text
          | Идеально подходят для Вас.
          br
          | Найди свой идеальный блик!
    button.slide__arrow.slide__arrow-next
      img(src="./images/arrow-next.svg")
    button.slide__arrow.slide__arrow-prev 
      img(src="./images/arrow-next.svg")
    .slide__dots-wrapp
      .slide__dots
        .slide__dot.active
        .slide__dot 
        .slide__dot 
        .slide__dot 
