.main {
  margin-top: 72px;
  padding-left: 64px;
  display: flex;
}

.aside {
  width: 15%;
  &__filter-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

//toggle button

.toggle-button-wrapp {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  & > .text {
    margin-left: 12px;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1F2020;
  }
}

.toggle-button {
  transition: 0.3s;
  border-radius: 40px;
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  margin: 0;
  vertical-align: top;
  background: #F2F2F2;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::after {
    content: "";
    transition: 0.3s;

    display: inline-block;
    position: absolute;
    left: 7px;
    top: 6px;
    width: 8px;
    height: 8px;
    background: #1F2020;
    border-radius: 50%;

    transform: translateX(0);
  }
  &:checked::after {
    transform: translateX(calc(100% + 6px));
    background: #1F2020;
  }
  &:checked {
    background: #7BB899;
  }
}



.main__section {
  width: 85%;
}

.card-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

// dropdown sort

.dropdown {
  position: relative;
  width: 280px;
  max-height: 198px;
  &__button {
    padding-right: 14px;
    position: relative;
    display: block;
    // width: 100%;
    text-align: left;
    
    // background: #7BB899;
    background: transparent;
    border: none;
    // padding: 16px 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #1F2020;
    cursor: pointer;
    outline: none;
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0px;

      width: 0;
      height: 0;
      border-width: 7px 5px 0 5px;
      border-color: #202020 transparent transparent transparent;
      border-style: solid;
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 0px;
    right: 64px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 1;
  
    background: #fff;
    overflow: hidden;
    &-item {
      margin: 0;
      padding: 17px 24px;

      font-weight: 500;
      font-size: 12px;
      line-height: 15px;

      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1F2020;
      background: transparent;
      cursor: pointer;
      &:hover {
        background: #7BB899;
      }
    }
  }
}

.dropdown__list--visible {
  display: block;
}
.input-hidden {
  display: none;
}

.dropdown__list-wrap {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.card {
  width: 278px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1);
  margin-right: 6px;
  margin-bottom: 10px;
  &:last-child {
    margin-right: 0;
  }
  &__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #1F2020;
    margin-bottom: 16px;
  }
  &__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1F2020;
  }
  &__content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
  &__btn {
    &-position {
      position: absolute;
      bottom: -6px;
      right: 0;
      & > button {
        display: none;
      }
    }
  }
  &:hover {
    .card__btn-position > button {
      display: block;
    }
  }
}

.btnAdd {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  width: 80px;
  height: 32px;
  background: #7BB899;
  border-radius: 8px;
  cursor: pointer;
  &::after {
    content: url("../images/plus.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 30px;

  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.text {
  cursor: pointer;
}

.hide {
  opacity: 1;
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}