// .slider-wrapper {
//   margin-top: 110px;
// }
.slider {
  padding-top: 110px;
  // margin-top: 110px;
  position: relative;

  .slide {
    width: 100%;
    max-width: 1920px;
    height: 56rem;
    display: none;
    position: relative;

    img {
      // height: 100%;
      object-fit: contain;
      // object-position: top center;
      margin: auto;
      width: 100%;

      @media (max-width: 768px) {

      }
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: clamp(4rem, 10vw, 7.2rem);
        line-height: 88%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 2.4rem;

        @media (max-width: 768px) {
          font-size: 2em;
        }
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 1.25vw, 1.6rem);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }

      @media (max-width: 768px) {
        width: 100%;
        padding: 0 3em;
      }
    }
    &__arrow {
      width: 20px;
      height: 40px;
      position: absolute;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
      top: 66.86%;

      &-next {
        right: 20.31%;
        transform: translateY(-50%);

        @media (max-width: 1600px) {
          right: 10.31%;
        }
        @media (max-width: 1340px) {
          right: -10.69%;
        }
        @media (max-width: 1050px) {
          right: -20.69%;
        }
        @media (max-width: 768px) {
          right: -60.69%;
        }
      }

      &-prev {
        left: 20.31%;
        transform: translateY(-50%)rotate(180deg);

        @media (max-width: 1600px) {
          left: 30.31%;
        }
        @media (max-width: 1340px) {
          left: 40.31%;
        }
        @media (max-width: 1050px) {
          left: 63.31%;
        }
        @media (max-width: 768px) {
          left: 88.31%;
        }
        
      }
    }
    &__dots-wrapp {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);

      @media (max-width: 1600px) {
        left: 60%;
      }
      @media (max-width: 1340px) {
        left: 72%;
      }
      @media (max-width: 1050px) {
        left: 91%;
      }
      @media (max-width: 768px) {
        left: 125%;
      }
    }
    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.9rem;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      padding: 1.3rem 2.4rem;
    }
    &__dot {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #FFFFFF;
      opacity: 0.2;
      outline: none;
      cursor: pointer;
      border: none;
      margin-right: .8rem;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}

.slide.activeBlock {
  display: block;
}