.slider {
  position: relative;

  &>* {
    z-index: 2;
  }

  .slide {
    width: 100%;
    display: none;
    position: relative;
    min-height: 560px;
    padding-top: 1em;
    z-index: 1;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      min-height: 360px;
    }

    &.activeBlock {
      display: flex;
    }

    img {
      object-fit: cover;
      object-position: 10% center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 100%;
      margin: auto;
      z-index: 1;

      // @media (max-width: 768px) {
      //   height: 200px;
      // }
    }

    &__content {
      position: relative;
      z-index: 2;
      max-width: 1200px;
      padding: 0 2em;
      margin: 0 auto;

      // @media (max-width: 1200px) {
      //   max-width: 800px;
      // }

      @media (max-width: 1024px) {
        max-width: 800px;
      }

      @media (max-width: 768px) {
        max-width: 600px;
        padding: 0 1em;
      }
      
      h1 {
        font-style: normal;
        font-weight: 400;
        font-size: clamp(4rem, 10vw, 7.2rem);
        line-height: 0.9;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 2.4rem;

        @media (max-width: 768px) {
          font-size: 2em;
        }
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: clamp(1rem, 1.25vw, 1.6rem);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }

      @media (max-width: 768px) {
        width: 100%;
        padding: 0 3em;
      }
    }
    &__arrow {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      border: none;
      top: 66.86%;

      @media (max-width: 768px) {
        width: 40px;
        height: 40px;
      }

      img {
        height: 50%;  
      }

      &-next {
        right: 20.31%;
        transform: translateY(-50%);

        // @media (max-width: 1600px) {
        //   right: 10.31%;
        // }
        // @media (max-width: 1340px) {
        //   right: -10.69%;
        // }
        // @media (max-width: 1050px) {
        //   right: -20.69%;
        // }
        @media (max-width: 768px) {
          right: 5%;
        }
      }

      &-prev {
        left: 20.31%;
        transform: translateY(-50%)rotate(180deg);

        // @media (max-width: 1600px) {
        //   left: 30.31%;
        // }
        // @media (max-width: 1340px) {
        //   left: 40.31%;
        // }
        // @media (max-width: 1050px) {
        //   left: 63.31%;
        // }
        @media (max-width: 768px) {
          left: 5%;
        }
        
      }
    }
    &__dots-wrapp {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);

      // @media (max-width: 1600px) {
      //   left: 60%;
      // }
      // @media (max-width: 1340px) {
      //   left: 72%;
      // }
      // @media (max-width: 1050px) {
      //   left: 91%;
      // }
      // @media (max-width: 768px) {
      //   left: 125%;
      // }
    }
    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.9rem;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      padding: 1.3rem 2.4rem;
    }
    &__dot {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #FFFFFF;
      opacity: 0.2;
      outline: none;
      cursor: pointer;
      border: none;
      margin-right: .8rem;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background-color: #fff;
        opacity: 1;
      }
    }
  }
}