section.cart
  .cart__overlay
  .cart__inner-position
    .cart__inner
      .cart__header 
        h2.cart__header-title Корзина
        button.btn-close
      .cart__body 
        .cart__body-descr
          h3.cart__body-title 4 товара
          button.btn-clear(onclick='clearCart()') очистить список
        .cart__body-cards


          //- .cart__item.cardId
          //-   img(src="./images/cards/1.jpg", alt="image").cart__item-img
          //-   .cart__item-descr 
          //-     h4.cart__item-descr-title Краска Wallquest, Brownsone MS90102
          //-     .cart__item-price 9600 ₽
          //-   .cart__item-buttons 
          //-     button.btn-minus
          //-     span 2
          //-     button.btn-plus
          //-   button.btn-remove
          //-   button.btn-restore

      .cart__footer#cart__footer
        //- .count-block
        //-   span Итого
        //-   span.totalCount 0 ₽
        //- button.orderBtn Оформить заказ
